.font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  /* background-color: FFFFFF; */
}




.span{ 
    
   
    
}
.li1{
    text-decoration: none;
    
}
li{
    list-style: none;
}
.ul{ display: flex;
    align-items: center;
    margin-left:400px;
    gap: 20px;
    
    
   
}
.nav{ display: flex;
    margin-left: 140px;
    margin-right: 140px;
    
    
    
    
}
.col{color: orange;

}
.color{ color: #05D4DF;

}
.colo{ color: skyblue;

}
.lor{ #5D58EF

}
.header{
    
}
.btn1{
    font-size: 20px;
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: rgba(254, 163, 1, 1);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    margin-left: 150px;
}

.nav img{
  height: 62px;
}

.togglebar{
    display: none;
}




.first-tittle{
    font-size: 56px;

}
.orange{
    color: orange;
}
.black{
    color: black;
}
.sky-blue{
    color: skyblue;
}
.discription{
    font-size: 20px;
}


body {
    background-image: url(/B11-A2-Kids-School-main/B11-A2-Kids-School-main/assets/bg.png);
}

.btn-primary{
    background-color: black;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 47px;
    border-radius: 8px;
}
.hed-img{

    display: flex;
    margin-left: 129px;
    gap: 50px;


}

.tittle{
    width: 640px;
    height: 331px;
}









































@media screen and (max-width: 576px) {
    .togglebar{
        display: block;
        margin-left: 70%;
        
        
        
        
    }
  
    .ul{
        display: none;
    }
    
    .nav{
        align-items: center;
        margin-left: 50px;
       
        
    }
    .header{
      top: 0px;
     
        position: sticky;   
        background-color: white;
        width: 100%;
        border-bottom: 1px solid orange;

    }
    body{
        margin: 0;
    }
    .hed-img{
  
        display: grid;
        grid-template-columns: repeat( 1, 1fr) ;
        grid-template-areas: "colum2"
                              "colum1"
        ;
    }
    .colum1{
        grid-area: colum1;
    }
    .colum2{
        grid-area: colum2;
    }
    
.tittle{
    width: 357px;
    height: 252px;
}
section div img{
    width: 337px;
    height: 413px;
}

}























